.eraserEnabled {
    fill: #005cbb;
    stroke: #005cbb;
    color: "green";
}

.eraserEnabled svg {
    fill: #005cbb;
    stroke: #005cbb;
    color: "green";
}

.eraserEnabled svg g path {
    fill: #005cbb;
    stroke: #005cbb;
    color: "green";
}
