# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs
ChoralAssistant.Backend/obj
ChoralAssistant.Frontend/.angular
ChoralAssistant.Frontend/.vscode
ChoralAssistant.Frontend/node_modules
ChoralAssistant.Backend/bin
ChoralAssistant.Backend.Authorization/bin
ChoralAssistant.Backend.Authorization/obj
ChoralAssistant.Backend.Calendar/bin
obj/
ChoralAssistant.Frontend/.env
bin/
ChoralAssistant.Backend/appsettings.Development.json
