<!-- <div class="h-[1000px]"> -->
<div class="flex">
    @if(piece.audioFileUrl){
    <audio src="{{piece.audioFileUrl}}" controls></audio>
    }
    @if(piece.audioLink != null && piece.audioLink != "" && piece.audioLink != undefined) {
        <a href="{{piece.audioLink}}">Nagranie</a>
    }
</div>
@if(piece.fileUrl || piece.imageUrls && piece.imageUrls.length > 0) {
<span class="flex items-center">
    <button mat-mini-fab (click)="previousPage()"><mat-icon>arrow_left</mat-icon></button>
    <span class="flex-1">
        <mat-slide-toggle [(ngModel)]="isErasing">Enable eraser</mat-slide-toggle>
        <button mat-button (click)="saveDrawings()">Save</button>
    </span>
    {{currentPage}} / {{pageCount}}
    <span class="flex-1"></span>
    <button mat-mini-fab (click)="nextPage()"><mat-icon>arrow_right</mat-icon></button>
</span>
@if(this.piece.type == "pdf"){
<div #pdfContainer class="h-[200vh] mt-4 pdf-container">

    <pdf-viewer [src]="piece.fileUrl" [render-text]="true" [show-all]="false" (after-load-complete)="pdfLoaded($event)"
        [page]="currentPage" [original-size]="false" [zoom-scale]="'page-width'" class="h-full !overflow-hidden">
    </pdf-viewer>
    <canvas #drawingCanvas class="pdf-canvas"></canvas>
    <canvas #cursorCanvas class="pdf-canvas"></canvas>
</div>
}
@else {
<div #imageContainer class="h-[150vh] mt-4 pdf-container">
    <img [src]="currentImageUrl" class="h-full" />
    <canvas #drawingCanvas class="pdf-canvas"></canvas>
    <canvas #cursorCanvas class="pdf-canvas"></canvas>
</div>
}
}