@if(saving) {
<div class="p-4 flex flex-row items-center justify-center h-full gap-4">
    <mat-spinner diameter="50"></mat-spinner>
    <span class="text-2xl">Zapisywanie utworu...</span>
</div>
}
@else{
<div class="p-4 flex flex-col">
    <h3>Nowy utwór</h3>
    <mat-form-field>
        <mat-label for="pieceName">Nazwa utworu</mat-label>
        <input matInput type="text" id="pieceName" [(ngModel)]="pieceName" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="description">Opis</mat-label>
        <textarea class="!resize-none" rows="4" matInput type="text" id="description" [(ngModel)]="description"></textarea>
    </mat-form-field>
    <mat-tab-group [(selectedIndex)]="selectedFileTab">
        <mat-tab label="Plik PDF">
            <div class="flex flex-row gap-2 items-center p-2">
                <input type="file" class="hidden" (change)="onPDFFileSelected($event)" #pdfFileInput accept=".pdf"
                    id="pdfFile" />
                @if(!pdfFile) {
                <button mat-button (click)="pdfFileInput.click()">Wybierz plik</button>
                }
                @else {
                <span>Wybrano: {{pdfFile.name}}</span>
                <button mat-button (click)="pdfFileInput.click()">Zmień</button>
                }
            </div>
        </mat-tab>
        <mat-tab label="Obrazy">
            <div class="flex flex-row gap-2 items-center p-2">
                <input type="file" class="hidden" (change)="onImageFilesSelected($event)" #imageFilesInput
                    accept="image/*" multiple id="imageFiles" />
                @if(!imageFiles || imageFiles.length == 0) {
                <button mat-button (click)="imageFilesInput.click()">Wybierz pliki</button>
                }
                @else {
                <span>Liczba wybranych plików: {{imageFiles.length}}</span>
                <button mat-button (click)="imageFilesInput.click()">Zmień pliki</button>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
    <mat-tab-group [(selectedIndex)]="selectedAudioTab">
        <mat-tab label="Plik audio">
            <div class="flex flex-row gap-2 items-center p-2">
                <input type="file" class="hidden" accept="audio/*" (change)="onAudioFileSelected($event)"
                    #audioFileInput>
                @if(!audioFile) {
                <button mat-button (click)="audioFileInput.click()">Wybierz plik</button>
                }
                @else {
                <span>Wybrano: {{audioFile.name}}</span>
                <button mat-button (click)="audioFileInput.click()">Zmień</button>
                }
            </div>
        </mat-tab>
        <mat-tab label="Link do nagrania">
            <mat-form-field class="py-2 !flex !flex-row">
                <mat-label for="audioLink">Link do nagrania</mat-label>
                <input class="w-full" matInput type="text" id="audioLink" [(ngModel)]="audioLink">
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>

    @if(errorMessage){
    <div class="text-[#ba1a1a]">{{errorMessage}}</div>
    }

    <div class="flex justify-end">
        <button mat-flat-button (click)="submitPiece()">Dodaj utwór</button>
    </div>
</div>
}