<div class="p-4">
    <h3>Dodaj wydarzenie</h3>
    <div class="flex flex-col">
        <mat-form-field class="!my-0">
            <mat-label for="Title">Nazwa</mat-label>
            <input matInput type="text" name="Title" [(ngModel)]="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="Description">Opis</mat-label>
            <textarea matInput type="text" name="Description" [(ngModel)]="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="Location">Miejsce</mat-label>
            <input matInput type="text" name="Location" [(ngModel)]="location">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Zakres dat wydarzenia</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Data początkowa">
                <input matEndDate formControlName="end" placeholder="Data końcowa">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            @if (range.controls.start.hasError('matStartDateInvalid')) {
            <mat-error>Nieprawidłowa data początkowa</mat-error>
            }
            @if (range.controls.end.hasError('matEndDateInvalid')) {
            <mat-error>Nieprawidłowa data końcowa</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="example-chip-list">
            <mat-chip-set #chipList>
                @for(option of selectedPieces; track option) {
                <mat-chip [removable]="true" (removed)="removeOption(option)">
                    {{ option.title }}
                    <button matChipRemove aria-label="Remove option">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                }
            </mat-chip-set>

            <mat-select [formControl]="selectControl" (selectionChange)="add($event)">
                @for(option of availableOptions; track option) {
                <mat-option [value]="option">
                    {{ option.title }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <p>{{this.errorMessage}}</p>
    <div class="flex justify-end">
        <button mat-flat-button (click)="submit()">Zapisz</button>
    </div>
</div>