<div class="p-4">
    <h2>Nowy utwór</h2>
    <label for="pieceName">Nazwa utworu</label>
    <input type="text" id="pieceName" [(ngModel)]="pieceName" required>
    <mat-tab-group [(selectedIndex)]="fileTabIndex">
        <mat-tab label="Plik PDF">
            <label for="pdfFile">Plik PDF z nutami</label>
            <input type="file" class="file-input" (change)="onPDFFileSelected($event)" #pdfFile accept=".pdf"
                id="pdfFile" />
        </mat-tab>
        <mat-tab label="Obrazy">
            <h2>Dodaj obazy</h2>
            <label for="imageFiles">Obrazy z nutami</label>
            <input type="file" class="file-input" (change)="onImageFilesSelected($event)" #imageFiles accept="image/*"
                multiple id="imageFiles" />
        </mat-tab>
    </mat-tab-group>
    <mat-tab-group [(selectedIndex)]="audioTabIndex">
        <mat-tab label="Plik audio">
            <label for="audioFile">Plik audio</label>
            <input type="file" accept="audio/*" (change)="onAudioFileSelected($event)">
        </mat-tab>
        <mat-tab label="Link do nagrania">
            <label for="audioLink">Link do nagrania</label>
            <input type="text" id="audioLink" [(ngModel)]="audioLink">
        </mat-tab>
    </mat-tab-group>

    @if(errorMessage){
    <div>{{errorMessage}}</div>
    }

    <button (click)="submitPiece()">Dodaj utwór</button>
</div>