<div class="mx-10 md:mx-20">
    <span class="text-6xl">Kalendarz</span>
    <h3>{{monthNames[currentMonth]}} {{currentYear}}</h3>
</div>
<div class="flex flex-row mx-10 md:mx-20">
    <button mat-mini-fab (click)="changeMonth(-1)"><mat-icon>arrow_left</mat-icon></button>
    <span class="flex-1"></span>
    <button mat-button (click)="addEvent()">Dodaj wydarzenie</button>
    <button mat-button (click)="export()">Eksportuj kalendarz</button>
    <button mat-button (click)="import()">Importuj kalendarz</button>
    <span class="flex-1"></span>
    <button mat-mini-fab (click)="changeMonth(1)"><mat-icon>arrow_right</mat-icon></button>
</div>


<div class="md:grid grid-cols-7 gap-2 mt-4 mx-20 hidden">
    <div>Poniedziałek</div>
    <div>Wtorek</div>
    <div>Środa</div>
    <div>Czwartek</div>
    <div>Piątek</div>
    <div>Sobota</div>
    <div>Niedziela</div>
</div>
<div class="{{mode == 'month' ? 'grid grid-cols-7 gap-2 mt-4 mx-20' : 'flex flex-col gap-2 mt-4 mx-10' }}">
    @for(day of daysOfMonth; track $index) {
    @if(day.day === 0) {
    <div></div>
    }
    @else {
    <mat-card class="{{day.isToday ? ('!bg-green-200') : ''}} min-h-[120px]">
        <mat-card-header>
            <mat-card-title>
                <span class="flex flex-row">
                    <span class="text-md">{{day.day}}</span>
                    @if(mode == 'week') {
                    <span class="text-sm ml-2">{{day.dayName}}</span>
                    }
                </span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-set>

                @for(event of day.events; track $index) {
                <mat-chip (click)="openEventDetails(event)">
                        {{event.title.length > 15 ? event.title.substring(0, 15) + '...' : event.title}}
                </mat-chip>
                }
            </mat-chip-set>
        </mat-card-content>
    </mat-card>
    }
    }
</div>